<div class ="content-container">
    <mat-card >
      <mat-card-actions>
      <button mat-button>
      <mat-card-header>
      <div mat-card-avatar class="car-avatar"></div>
      <mat-card-title> Regarding Cars</mat-card-title>
      </mat-card-header>
      </button>
      </mat-card-actions>  
    </mat-card>
    <mat-card >  
      <mat-card-actions>
      <button mat-button>
      <mat-card-header>
      <div mat-card-avatar class="customer-avatar"></div>
      <mat-card-title> Regarding Customers </mat-card-title>
      </mat-card-header>
      </button>
      </mat-card-actions>
    </mat-card>
    <mat-card >
      <mat-card-actions>
      <button mat-button>
      <mat-card-header>
      <div mat-card-avatar class="rental-avatar" ></div>
      <mat-card-title> Regarding Rentals </mat-card-title>
      </mat-card-header>
      </button>
      </mat-card-actions>
    </mat-card>
</div>
